:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --DarkRaspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --RoseWhite: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --LightGrey: hsl(30, 18%, 87%);
  --WengeBrown: hsl(30, 10%, 34%);
  --DarkCharcoal: hsl(24, 5%, 18%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Smooth scroll */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background: var(--Eggshell);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 46rem;
  padding-inline: 0;
  padding-block: 0 1.75rem;
  background: var(--White);
  border-radius: 1.5rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  padding-inline-start: 2.5rem;
  padding-inline-end: 2.5rem;
  margin-block-start: 2.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-heading {
  font-family: "Young Serif";
  font-weight: 400;
  font-size: clamp(2.25rem, 5vw, 2.5rem);
  line-height: 100%;
  color: var(--DarkCharcoal);
}

.paragraph {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--WengeBrown);
}

.preparation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1rem;
  width: 100%;
  background: var(--RoseWhite);
  border-radius: 0.75rem;
}

.ter-heading {
  font-family: "Outfit";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 100%;
  color: var(--DarkRaspberry);
}

.preparation-list,
.ingredients-list,
.instructions-list {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.preparation-list li::marker {
  font-weight: 700;
  color: var(--DarkRaspberry);
}

.preparation-list .paragraph,
.ingredients-list .paragraph,
.instructions-list .paragraph {
  padding-left: 1rem;
}

.ingredients-list li::marker,
.instructions-list li::marker {
  font-weight: 700;
  color: var(--Nutmeg);
}

.instructions::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--LightGrey);
  display: inline-block;
  margin-bottom: 1.875rem;
}

.instructions::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--LightGrey);
  display: inline-block;
  margin-top: 2.5rem;
}

.p-bold {
  font-weight: 700;
}

.qty {
  color: var(--Nutmeg);
}

.sec-heading {
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 100%;
  color: var(--Nutmeg);
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
  margin-block-start: 0.75rem;
  border-collapse: collapse;
}

td {
  padding-inline-start: 2rem;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--LightGrey);
}

td {
  padding-block-end: 0.75rem;
  padding-block-start: 0.75rem;
}

@media screen and (min-width: 37.5rem) {
  body {
    padding: 2rem 1rem;
  }

  .wrapper {
    padding-inline: 2.5rem;
    padding-block: 1.75rem;
  }

  .hero-img {
    border-radius: 1.5rem;
  }

  .text-content {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}
